<div class="adventureBlockParent" style="width:80%; margin:5%;" data-adventure-id="{{AdventureID}}">
    <h3 style="margin-bottom:0%;">
        <a href="./adventure/?id={{AdventureID}}" style="text-decoration:none;color: blue !important;">
            {{Name}}
            &nbsp;
            <i class="fa fa-external-link openLinkIcon" aria-hidden="true"></i>
        </a>
    </h3>
    <img src="{{CoverThumbnail}}" alt="img" style="width:70%; height:150px;" onclick="onNavigateToAdventure(event)" onload="onPictureLoaded()"/>
    <p id="firstParagraph_{{AdventureID}}" style="margin:0%;">{{FirstParagraph}}</p>
</div>