<div class="userName navRow centered">
    <span id="userKeyElement" class="userName" data-user-key="{{UserKey}}">{{UserText}}</span>
</div>

<div class="navRow navRow-{{ShowHome}} navRow-lefted pointer noselect" onclick="MyUrls.navigateTo('/')">
    <i class="fa-solid fa-circle-left navIcon"></i>
    <span>Adventures</span>
</div>

<div class="navRow navRow-{{ShowDetails}} navRow-lefted pointer noselect" onclick="onShowDescription()">
    <i class="fa-solid fa-circle-info navIcon"></i>
    <span>Details</span>
</div>

<div class="navRow navRow-lefted pointer noselect" onclick="MyAuth.onAuthAction('{{AuthAction}}')">
    <i class="fa-solid fa-circle-user navIcon"></i>
    <span class="userText">{{AuthText}}</span>
</div>

<div class="navRow versionText">
    <span>v2.8.0</span>
</div>