/*** Menu Section */
.showDescriptionIcon { color: limegreen; vertical-align: middle; }
#returnIconSection { position: fixed; top:2%; left:2%; text-align:left; }

/*** Messages Section */
#messageSection { padding-top:3%; }

/* Sub menu for title area */
#subMenuSection { position:relative; height:40px; z-index:50; width:80%; margin:auto; text-align:center; }
.subMenuItem { position:absolute; }
.subMenuItemLeft { left:0; width:40%; text-align:left; z-index:50; }
.subMenuItemMiddle { left:0; width:100%; z-index:40; }
.subMenuItemRight { right:0; width:40%; text-align:right; z-index:50; }
#contentTitle { display:inline-block; width: 100%; }
.contentCreatorSection { font-size:smaller; display:inline-block; font-style: italic; }

/*** Description */
#descriptionSection { clear:both; width:90%; margin:auto; }
#adventureDescription { clear:both; text-align:left; width:90%; padding-top:2%; }

/*** Content List */
#contentListSection { display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; gap:10px; align-items:center; align-content:center;  }
.contentPreviewBlock { margin-bottom:2%; height:200px; min-width:80%; max-width:90%; cursor:pointer; position:relative; overflow:hidden; display:relative; border-radius:20px; text-align:center; 
	transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease; }
.contentPreviewBlock img { width: 100%; height:100%; }
.contentPreviewBlock .playButtonSection { position:absolute; width:100%; height:100%; text-align:center; }
.contentPreviewBlock .playButtonIcon { font-size:280%; display: flex; width:100%; height:100%; align-items: center; justify-content: center; color:#f8f8ff; transition: transform 0.5s ease; }
.contentPreviewBlock .previewNameSection { position:absolute; width:100%; bottom:2%; text-align:center; }
.contentPreviewBlock .previewName { display:inline-block; background-color:#f8f8ff; color:#303030; opacity:100; padding:1% 5%; border-radius:20px; transition:opacity 0.5s ease, color 0.5s ease; }
.contentPreviewBlock:hover { transform: scale(1.02);}
.contentPreviewBlock:hover .playButtonIcon { transform: scale(1.2); }

/*** Content View */
#contentViewSection { position: relative; width:95%; z-index: 50; margin:auto; }
#videoFramePanel { position:relative; width: 100%; padding-top: 56.25%; /*Aspect Ratio of 16:9 (9/16 as a percentage)*/ }
#videoFrame {  border: none; position: absolute; top:0; left: 0; height: 100%; width: 100%;}

/* Content navigation */
#contentNavSection { position:relative; font-size:18px; width:80%; margin:auto; padding-top:3%;  }
.contentNavItem { position:absolute; transition: opacity 0.4s ease; }
.contentNavIndex { width:100%; z-index:-10; }
.contentNavAction { opacity: 0.2; z-index:20; }
.contentNavAction i { vertical-align: middle;}
.contentNavAction.clickable { opacity:100; }
.contentNavAction.left { left:1px; }
.contentNavAction.right { right:1px; }

/*** MEDIA SECTIONS ***/
@media only screen and (max-width: 400px){
	#subMenuSection { width:90%; }
	#contentNavSection { width: 90%; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#subMenuSection { width:70%; }
	#contentNavSection { width: 70%; }
	#videoFrame { height:90%; }
}

@media only screen and (min-width: 700px) {
	.contentPreviewBlock { min-width:10%; }
	#subMenuSection { width:70%; }
	#contentNavSection { width:70%; }
	#contentViewSection { width:70% }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#messageSection { padding-top:0%; }
	#adventureDescription { width:60%; margin:auto; font-size:20px; }
	.contentPreviewBlock { margin-bottom:1%; }
	.contentPreviewBlock .previewName { opacity:0.7; }
	.contentPreviewBlock:hover .previewName { opacity:100%;}
	#subMenuSection { width:60%; }
	#contentNavSection { width:60%; } 
	#descriptionSection { width: 50%; }
	#contentViewSection { width:60%; }
	#videoFrame { height:100%; }
}

/* Large devices (laptops/desktops ) */
@media only screen and (min-width: 900px) {
	#subMenuSection { width:35%; font-size:18px; }
	#contentNavSection { width:50%; }
	#descriptionSection { width: 40%; }
	#contentViewSection { width:45% }
}

@media only screen and (min-width: 1200px) {
	#contentNavSection { width:40%; }
}

@media only screen and (min-width: 1500px) {
	#contentNavSection { width:30%; }
}