#videoFrameProtectedSection { font-size:larger; }

/**** TITLES / DESCRIPTIONS: Section related to the title & description for a video **********/
#adventureDescription { clear:both; }
#videoTitle { clear:both; padding:1%; display:inline; margin:0px; }
.videoAuthor { font-size:50%; font-style:italic; }
.showDescriptionIcon { color: limegreen; vertical-align: middle; }
#moreDetailsIcon { padding-left:0.5% }
#contentTitle { display:inline-block; width: 100%; }
#subMenuSection { position:relative; z-index:99 }
.contentCreatorSection { font-size:smaller; display:inline-block; margin-top:2%; }

/**** CONTENT PREVIEW: The blocks to represent */
.contentPreviewBlock { position:relative; width:90%; height:170px; margin:auto; margin-bottom:5%; text-align:center; }
.contentPreviewBlock img { width: 100%; height:100%; }
.contentPreviewBlock .playButtonSection { position:absolute; width:100%; height:100%; text-align:center; }
.contentPreviewBlock .playButtonIcon { font-size:170%; display: flex; width:100%; height:100%; align-items: center; justify-content: center; }



/**** CONTENT VIEW: Viewing the individual content  */
.backIcon { transform: rotateY(180deg); }
.navButton { color:gray; }
.navButton.clickable { color:#1F51FF !important; }

#contentViewSection { clear: both; position: relative; height: 100%; height: 350px; }
#contentViewSection .backIconSection { position:absolute; z-index:99; top:0; }

#contentNavigationSection { position: relative; }

/**** VIDEO NAV: Navigating between videos **********/
#videoNavigationSection { width: 90%; margin:auto; }
.navButton { font-size:18px; }

/**** VIDEO PICKER: Selecting a video to watch ******/
#videoPickerSection { width: 90%; margin: auto; padding-top:2%; }
.videoPickerBlock { padding:1%; width:70%; margin:auto; border:1px solid gray; border-radius:77px; margin-bottom:2%;  }
.videoPickerBlock .title { margin-top:0px; color:aqua; font-size:18px; }
.videoPickerBlock.selected { background-color:limegreen; color:black !important; }
.videoPickerBlock.selected .title { color:black !important; }

@media only screen and (min-device-width:1200px)
{
    #videoTitle{ display:inline-block }
	#videoPickerSection { width: 35%; }
	#videoNavigationSection { width: 35%; margin:auto; }
}