
/* The main sections */
#eventName { opacity:0; }
#eventOverviewSection { opacity:0; width:99%; margin:auto; font-size:110%; }
#eventContentSection { width:95%; margin:auto; position:relative; }

/* The event forms */
.eventForm { margin-top:2%; margin-bottom:5%; border-top:solid #D4D1CD; border-width:thick; width:100%; margin:auto; position:absolute; }
.eventFormFade { opacity: 0; transition: opacity ease 0.2s; }
.eventFormFade.active { opacity: 100 !important; z-index:50;  }

/* The parts in a form */
.eventForm .eventDetailsTable { width:100%; margin:auto; margin-top:5%; }
.eventForm .formTitle { margin:0%; margin-top:1%;}
.eventForm .formDescription { margin:0%; }
.eventForm .detailsTable { width:50%; margin:auto; margin-top:2%; }
.eventForm .infoCell { padding:0.5%;  }
.eventForm .leftCell { text-align:right; font-weight:bold;  }
.eventForm .rightCell { text-align:left; font-style: italic; }
.eventForm .responseOptions { width:70%; margin:auto; }
.eventForm .responseOptions { width:70%; margin:auto; }
.eventForm label:hover { cursor:pointer; } 
.eventForm .commentBox { width: 80%; background-color: #D4D1CD; color:#0f0f0f }

/* Hiding parts in the form */
.ShowChecklists-false { display:none; }
.ShowComments-false { display:none; }

/* Response Buttons */
.eventForm .responseButton { margin-bottom:2%; border:1px solid black; border-radius:20px; padding:1%; line-height: 25px; vertical-align: middle; background-color: #D4D1CD; color:#0f0f0f; cursor:pointer; transition: transform 0.1s linear; }
.eventForm .responseButton.responseYes.selected { background-color:#009933; color:white; }
.eventForm .responseButton.responseNo.selected { background-color:#CC0000; color:white; }
.eventForm .responseButton.responseMaybe.selected { background-color:orange; color:black; }

/* Submit buttons */
.eventForm .formButtons { margin-top:5%; }
.eventFormButton { z-index:50; position:absolute; font-size: 18px;border-radius: 30px; background-color: blue; padding: 2%; border: none; color: white; font-weight: bolder; cursor: pointer;  }
.eventFormButton.left { left:0; }
.eventFormButton.submit { display:none; }
.eventFormButton.right { right:0; }
.eventForm:nth-child(1) .eventFormButton.left { display:none; }
.eventForm:nth-child(1) .eventFormButton.submit { display:none; }
.eventForm:last-child .eventFormButton.right { display:none; }
.eventForm:last-child .eventFormButton.submit { display:block !important; margin:auto; position:static; }

.eventFormIndex { display:block !important; width:100%; font-size:20px; padding-top:2%; z-index:30; position:absolute; margin:auto; }
.eventForm:last-child .eventFormIndex { display:none !important; }

/* Event info sections */
.eventInfoSection { text-align: left; width: 95%; margin: auto; }
.eventInfoSection .highlight { color: orange; font-style:italic;}
.eventInfoSubsection.collapsable { transition: opacity,height ease 1s; }
.eventInfoSubsection.collapsable.collapsed { opacity: 0; height: 0px; overflow-y: scroll; }
.eventInfoSubsection.collapsable.open { padding-left:5%; margin-bottom:3%; }

.eventInfoSection a:link { color: #448ef6; text-decoration: none; }
.eventInfoSection a:visited { color: #448ef6; text-decoration: none; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#eventOverviewSection { width:30%; }
	#eventContentSection { width:30%; }
	.eventDetailsTable { width:80%; margin-top:2%; }
	.eventForm .responseButton:hover { transform: scale(1.02); }
	.eventForm .responseButton.responseYes:hover { background-color:#009933; }
	.eventForm .responseButton.responseNo:hover { background-color:#CC0000; }
	.eventForm .responseButton.responseMaybe:hover { background-color:orange; }

	/* Event info sections */
	.infoSectionHeader { text-align: center; }
	.eventInfoSubsection.collapsable.open { padding-left:15%; margin-bottom:10%; }
	.eventInfoSection { width: 35%; }

}