/********* Headers/Titles/Icons ***********************/
.pageMessage { font-size: 16px; }
.iconSize { font-size: 20px; }
.iconSizeSmaller { font-size: 14px; }
.loginAction { color: blue; }
.loginAction:active { color:blue; }
.loginAction:visited { color: blue; }
.shareContentLinkSection { position:absolute; width:30%; text-align:right; font-size:90%; padding-right:1%; }
#loginRequiredButton { border-radius: 20px; padding:2%; border:none;}
.versionText { font-size:smaller; font-style: italic;}
.mobileInput { font-size: 16px !important; }

/* Heading */
/* .mainHeading { margin:0px; margin-top:2%; width:90%; text-align:left; } */
#adventureTitle { font-size: 1.17em; }
#mainTitle { opacity:0; }

/* Menu & Items */
#menuSection { margin-bottom:2%; }
#menuItems { position: relative; height:50px; }
.menuItem { position:absolute; height:100%; width:100%; display:flex; align-items:center;  }
.menuItemLeft { left:0; text-align: left; justify-content: left; }
.menuItemRight { right:0; text-align:right; justify-content: right; }
.menuIcons { font-size:22px; margin-left:0.5%; position:relative; transition: ease 0.5s; }
#hamburgerMenuIcon { margin-right:3%; }
#closeMenuIcon { color:red !important; margin-right:3%; }

/* Dropdown navigation */
#dropdownNav { position:absolute; opacity:0; height:0; top:44px; left:0; right:0; width: 100%; overflow-y:hidden; z-index: 100; background-color: #D4D1CD; color: #0f0f0f; }
#dropdownNav.open { display:table; opacity:100; width:100%; padding:0%; text-align:center; right:0; top: 50px; }
#dropdownNav .navRow { display:inline-block; margin:2% 0%; padding:3% 0%; width:100%; opacity:0; text-align:center; }
#dropdownNav.open .navRow { opacity:100; transition: opacity ease 0.7s;  }
#dropdownNav .navRow-false { display: none !important; }
#dropdownNav .navRow.versionText { padding:3% 1% !important; text-align:right; font-size:80%; }
#dropdownNav .navRow.versionText span { margin-right:3%; }

/* Search */
#searchBarSection { display:inline-block; position:relative; text-align:left; border-radius:20px; border:none; padding:2%;  }
#searchBarSection #searchBarInput { border:none; opacity: 0; background-color:transparent; width:60%; margin-left:2%; outline: none; outline-offset: 0;  }
#searchBarSection #searchBarInput:focus{ outline: none; outline-offset: 0;}
#searchBarSection.active { width:60%; background-color: #0f0f0f !important; transition: ease 0.5s; }
#searchBarSection.active #searchBarInput { opacity: 100 !important; color:#D4D1CD; }
#searchBarSection.active #searchToggleIcon { color:#D4D1CD !important; }
.searchIcons { font-size:22px; float:right; margin-left: 2%; vertical-align: middle;}
#searchClearIcon { color: red !important; }

/* #searchBarInput { width:80%; border: none; } */
.menuSeparator { clear:both; }

/*** Adventures List */
#adventuresPanel { width:95%; margin:auto; display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; gap:10px; align-items:center; align-content:center;  }
#adventuresPanel.navOpen { display:none !important; }
.adventureBlock { margin-bottom:2%; height:200px; min-width:90%; max-width:90%; cursor:pointer; overflow:hidden; position:relative; border-radius: 25px; transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease; }
.adventureBlock .nameSection { text-align:center; margin:0%; position: absolute; width: 100%;  z-index: 50; background-color: #D4D1CD;  padding: 1%; bottom: 0; }
.adventureBlock:hover { transform: scale(1.02);}
.adventureBlock .loadingSpinner { display:block; margin:auto; text-align:center; width:35px;height:35px; }
.adventureBlock .showOnImageLoad { opacity: 0%; transition: opacity 2s ease; }
.adventureBlock.visible .showOnImageLoad { opacity: 100%; }
.adventureBlock.visible .loadingSpinner { display:none; }
.adventureBlockImageSection { height:100%; }
.adventureBlock img { width:100%; height:100%; }
.adventureBlockLink { color: #1F51FF !important; font-size: 16px !important }
.openLinkIcon { font-size:smaller !important; }

/**************************************************** 
	MEDIA SCREENS
*****************************************************/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.pageMessage { font-size: 32px; }
	/* #searchBarSection { width:50%; } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#menuItems { height: 40px; }
	.menuItemLeft {  justify-content: center; }
	#loginRequiredButton { border-radius: 20px; padding:1%; border:none;}
	#menuSection { margin-bottom:1%; }
	#adventureTitle { font-size: 1.5em; }
	#dropdownNav { left:initial; width:150px; right:2%; }
	#dropdownNav.open { width:150px; right:1.5%; top:40px; border-top:2px solid #0f0f0f;  }
	#dropdownNav.open .navRow { padding:5% 0%; }
	#dropdownNav.open .navRow-lefted { text-align:left; padding-left:2%; }
	#adventuresPanel.navOpen { display:flex !important; }
	#searchBarSection { padding:0.3%; }
	#searchBarSection.active { width:15%; }
	#hamburgerMenuIcon { margin-left:0.1%; margin-right:2%; }
	#closeMenuIcon { margin-left:0.1%; margin-right:2%; }
	#mainTitle { text-align:center; }
	#mainTitle.dtk-fade-out { opacity:100 !important; }
	.adventureBlock{ min-width:350px; }
}

/* Large devices (laptops/desktops ) */
@media only screen and (min-width: 900px) {
	.adventureBlock { margin-bottom:1.5%; }
	.sideNav.open {width: 170px; }
	.menuLogin .authLink { font-size: 24px; }
	.iconSize { font-size: 22px; }
	.iconSizeSmaller { font-size: 16px; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-device-width:1200px) {
	/* #searchBarSection { width:20%; } */
}


