/********* Headers/Titles/Icons ***********************/
/* General */
body.theme_black_bg { background-color:black; color:#f8f8ff; }
.pageMessage { font-size: 16px; }
.iconSize { font-size: 20px; }
.iconSizeSmaller { font-size: 14px; }

.shareLinkSection { position:absolute; width:30%; text-align:right; font-size:90%; padding-right:1%; }
.loadingGif { width: 25%; height:25%; }

/* TO BE MOVED TO GENERIC */
.dtk-fade { opacity:0; }
.dtk-fade-in { opacity:100 !important; transition: opacity ease-in 0.5s; }
.dtk-fade-out { opacity:0 !important; transition: opacity ease-out 0.2s; }

/* Menu */
#userIconSection { position: fixed; top:2%; right:2%; z-index:100; }
.userName.desktop { display:none; }
.userName.mobile { display:inline-block; }

#menuItems { position: relative; height:48px; }
.menuItem { position:absolute; height:100%; width:100%; }
.menuItemLeft { left:0; text-align: left; }
.menuItemRight { right:0; text-align:right; }

.menuIcons { font-size:22px; margin-left:0.5%; position:relative; top: 25%; transition: ease 0.5s; }
#hamburgerMenuIcon.navOpen { opacity: 0; }
/* #hamburgerMenuIcon { font-size:22px; margin-left:0.5%; position:relative; top:25%; transition: ease 0.5s; } */
#closeMenuIcon { color:red !important; }

/* Side navigation */
.sideNav { position:absolute; height:100%; background-color: black; color:#f8f8ff; width:0px; overflow-x:hidden; z-index:101;   }
.sideNav.open {width: 100%; transition: ease 0.5s; }
.sideNav.left { left:0; }
.sideNav.right { right:0; }
.sideNav .closeIcon { color: lightgray; display:inline-block; width:100%; text-align:center; margin-bottom:3%; font-size:25px; cursor:pointer; }
.sideNav .navRow { display:inline-block; padding:1%; text-align:center; opacity:0; font-size:0px; width:100%; margin-bottom:2%; }
.sideNav .navItem { border-top:2px solid #f8f8ff; border-bottom:2px solid #f8f8ff; background-color:#f8f8ff;  }
.sideNav.open .navRow { opacity: 100; font-size:initial; transition: ease 0.9s; }

/* Menu/Search Sections */
.menuLoginSection #menuLoginDetails { padding-right:2%;  }
.menuLogin:hover { cursor:pointer; }
.menuLogin .authLink { cursor:pointer; font-size: 16px; }
.menuLogin .authLink .login { color:orange !important; }
.menuLogin .authLink .logout { color:#f8f8ff !important; }
#menuDropdown { display:none;}
#menuLoginSection.open { background-color: black; display:block !important;}
#menuLoginSection.open #menuDropdown { display:block !important;}

/* Search */
/* .searchBarContainer { display:inline-block; opacity:0; overflow-x:hidden; } */
/* .searchBarContainer.open { width: 70%; opacity:100; transition: opacity ease 1.5s; } */

#searchBarSection { display:inline-block; position:relative; top:15%; text-align:left; border-radius:20px; border:none; padding:2%;  }
#searchBarSection #searchBarInput { border:none; opacity: 0; background-color:transparent; width:60%; outline: none; outline-offset: 0;  }
#searchBarSection #searchBarInput:focus{ outline: none; outline-offset: 0;}
#searchBarSection.active { width:60%;  background-color:#f8f8ff; transition: ease 0.5s; }
#searchBarSection.active #searchBarInput { opacity: 100 !important; }
#searchBarSection.active #searchToggleIcon { color:blue !important; }
.searchIcons { font-size:22px; float:right; margin-left: 2%; vertical-align: middle;}
#searchClearIcon { color: red !important; }

/* #searchBarInput { width:80%; border: none; } */
.menuSeparator { clear:both; }

/*** Adventures List */
#adventuresPanel { width:95%; margin:auto; overflow-y:scroll; display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; gap:10px; align-items:center; align-content:center;  }
#adventuresPanel.navOpen { display:none !important; }
.adventureBlock { height:200px; min-width:90%; max-width:90%; cursor:pointer; overflow:hidden; position:relative; border-radius: 25px; transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease; }
.adventureBlock .nameSection { text-align:center; margin:0%; position: absolute; width: 100%;  z-index: 50; background-color: #f8f8ff;  padding: 1%; bottom: 0; }
.adventureBlock:hover { transform: scale(1.02);}
.adventureBlock .loadingGif { display:block; margin:auto; text-align:center; width:20%;height:20%; }
.adventureBlock .showOnImageLoad { opacity: 0%; transition: opacity 2s ease; }
.adventureBlock.visible .showOnImageLoad { opacity: 100%; }
.adventureBlock.visible .loadingGif { display:none; }
.adventureBlockImageSection { height:100%; }
.adventureBlock img { width:100%; height:100%; }
.adventureBlockLink { color: #1F51FF !important; font-size: 16px !important }
.openLinkIcon { font-size:smaller !important; }

/**************************************************** 
	MEDIA SCREENS
*****************************************************/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.pageMessage { font-size: 32px; }
	/* #searchBarSection { width:50%; } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#adventuresPanel.navOpen { display:flex !important; }
	#mainTitle.fadeOnSearch { opacity:100 !important; }
	#searchBarSection { padding:0.5%; }
	#searchBarSection.active { width:20%; }
	#hamburgerMenuIcon { margin-left:0.5%; margin-right:2%; }
	#closeMenuIcon { margin-left:0.5%; margin-right:2%; }

	#mainTitle { text-align:center; }
	.adventureBlock{ min-width:10%;}
	.loadingGif { width: 5%; height:5%; }
}

/* Large devices (laptops/desktops ) */
@media only screen and (min-width: 900px) {
	.userName.desktop { display:inline; }
	.userName.mobile { display:none; }
	.sideNav.open {width: 170px; }


	/* #searchBarSection { width:40%; } */
	.menuLogin .authLink { font-size: 24px; }
	.iconSize { font-size: 22px; }
	.iconSizeSmaller { font-size: 16px; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-device-width:1200px) {
	/* #searchBarSection { width:20%; } */
}