<div class="centered adventure_block" data-adventure-id="{{AdventureID}}">
    <h2>
        <i class="fa fa-lock pointer protectedIcon{{IsProtected}}" title="This adventure requires a passcode" aria-hidden="true"></i>
        &nbsp;
        <a href="./adventure/?id={{AdventureID}}">
            {{Name}}
            &nbsp;
            <i class="fa fa-external-link openLinkIcon" aria-hidden="true"></i>
            <br/>
            <span class="adventureDate">({{MonthYear}})</span>
        </a><br/>
    </h2>
    <p id="firstParagraph_{{AdventureID}}">{{FirstParagraph}}</p>
    <span id="moreDetailsLink_{{AdventureID}}" class="pointer additionalDetailsToggle spaced small" onclick="toggleDetails('{{AdventureID}}')">... more details</span>
    <p id="moreDetails_{{AdventureID}}" data-details-id="{{AdventureID}}" class="hidden pointer" onclick="toggleDetails('{{AdventureID}}')">{{MoreDetails}}</p>
    <span id="lessDetailsLink_{{AdventureID}}" class="pointer additionalDetailsToggle spaced large hidden" onclick="toggleDetails('{{AdventureID}}')">... less details</span>
</div>