/********* Headers/Titles/Icons ***********************/
body.theme_black_bg { background-color:black; color:white; }

.homeLink { text-decoration:none; color:inherit; }
#homeIcon { text-align: left; font-size: 20px; cursor: pointer; float:none; display:block; padding-top: 1%; padding-left: 1%; }
#homeIcon::after { content:" home"; }

/****** HOME PAGE: The Title section ********/
#adventureTitle { font-size:28px; }
.adventureSubtitle { font-size: 24px; }

/****** HOME PAGE: The Filter/Search section ********/
#findAdventureSection { border-top:2px solid white; border-bottom: 2px solid white; padding-bottom:2%; padding-top:2%;  }
#filterSubsection { margin-bottom:1%; display:none; }
.filterOption { border:1px solid white; border-radius:77px; cursor:pointer; padding:1%; margin:3%; display:inline-block; }

.filterOption.filterOptionSelected { background-color:aqua; color:black; }

#searchBarSection { text-align:left; border-radius:77px; border:1px solid gray; background-color:white; padding:1%; width:90%; margin:auto; font-size:20px; }
#searchClearIcon { float:right; color: red !important; }
/* .searchBar { text-align:left; border-radius:77px; border:1px solid gray; background-color:white; padding:1%; width:90%; margin:auto; font-size:20px; } */
.searchBar { text-align:left; width:85%; display:inline-block; }
.searchBar:focus { border: none; outline: none; }
.searchBar.searchPlaceholder { color:gray; }
.searchBar.searchText { color: black; }


/****** HOME PAGE: The Adventure List section ********/
.adventure_block { float:left; width: 90%; border:2px dashed gray; padding:1%; height:200px; overflow-y:scroll; margin:3%; }
.adventure_block.hidden { opacity: 0px;}
.adventure_block h2 { font-size: 18px; }
.adventure_block a { text-decoration: none; color:aqua}
.adventure_block a:visited { text-decoration: none; color:aqua }
.additionalDetailsToggle { font-style:italic; font-size:smaller;color:orange !important; display:block; margin:auto; }
.protectedIconYes { color:goldenrod; }
.protectedIconNo { display:none !important; }
.openLinkIcon { font-size:smaller !important; }
.adventureDate { font-size:smaller !important; font-style:italic;}

/**************************************************** 
	MEDIA SCREENS
*****************************************************/

@media only screen and (min-device-width:1200px)
{

	#searchBarSection { width:30%;}

	.adventure_block { width: 25%; height:150px; }
	.filterOption { margin:0.2%; padding:0.5%; }

	#filterSubsection { display:block; }
	
	#homeIcon { display: block; float:left; font-size: 30px; padding:0px; }
	#homeIcon::after { content: ""; }
}